*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --header: #FF6900;
--footer: #1A1A1A;
--eco: #008000;
--discount: #FF0000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    
}
header {
    background-color: var(--header);
    color: white;
  box-shadow: 0 1px 3px #666 ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
   width: 150px;
   height: 40px;
}
.nav-items {
    padding: 10px;
    display: flex;
    align-content: flex-start; 
    justify-content: space-between;
    align-items: center;
    
    
}
ul {
    list-style: none;
    display: flex;
    transition: all 800ms ease;
    cursor: pointer;
    
}
li a {
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 20px;
}
li:hover {
    text-decoration: underline;
}
.icons i {
    padding: 5px;
    color: white;
    cursor: pointer;
}
.icons i:hover {
    color: aquamarine;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.card {
     position: relative;
}


.box-1 {
    position: relative;
    
}
.box-1 img {
    width: 100%;
    display: block;
}
.display {
    display: none;
}


.card:hover .img1b {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
}

.sconto{
    padding: 5px 5px;
    text-align: center;
    position: absolute;
    bottom: 4rem;
    left: 0px;
    color: white;
}
.sosten {
    padding: 5px 5px;
    text-align: center;
    position: absolute;
    bottom: 4rem;
    left: 3.5rem;
    color: white;
}
h3 {
    text-transform: uppercase;
}

.column {
    padding: 10px;
}
.red {
    background-color: var(--header);
   
}
.green {
    background-color: green;
}
.green2 {
    left:0px;
}
.heart {
    font-size: 40px;
    position: absolute;
    top:10px;
    right: 0px;
    padding:0 5px;
    background-color: white;
    cursor: pointer;
       
}
.heart:hover {
    color: orangered;
}


footer {
    color: white;
    background-color: rgb(40, 38, 38);
    margin-top: 2rem;
}


.list .info {
    align-content: flex-start;
    font-size: 15px;
}
.footer{
    padding: 10px 10px;
   
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    padding: 15px;
    line-height: 1.8;
    
}

.fa-brands {
    padding: 3px;
    transition: all 600ms ease;
    cursor: pointer;
}
.fa-brands:hover {
    color: aquamarine;
}
.prezzo1 {
    color: orangered;
}
.prezzo2{
    text-decoration:line-through;
}
.flex {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content:center ;
    padding: 20px 10px;
}